<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<body>
	<header id="home" class="header" th:fragment="navbar">
		<!-- Navigation -->
		<nav class="nav">
			<div class="navigation container">
				<div class="logo">
					<h1>Code ASM</h1>
				</div>

				<div class="menu">
					<div class="top-nav">
						<div class="logo">
							<h1>Codevo</h1>
						</div>
						<div class="close">
							<i class="bx bx-x"></i>
						</div>
					</div>

					<ul class="nav-list">
						<li class="nav-item"><a th:href="@{/home/index}"
							class="nav-link scroll-link">Home</a></li>
						<li class="nav-item"><a th:href="@{/home/product}"
							class="nav-link">Products</a></li>
						<li class="nav-item"><a href="#about"
							class="nav-link scroll-link">About</a></li>
						<li class="nav-item"><a href="#contact"
							class="nav-link scroll-link">Contact</a></li>
						<li class="nav-item dropdown-item">
							<div class="nav-link scroll-link" onclick="myad()">Account</div>
							<div class="dropdown-content">
								<ul class="links">
									<li><a href="profile"><i class="bx bx-user"
											aria-hidden="true"></i> My Profile: [[${#request.remoteUser}]]</a></li>
									<li><a th:href="@{/customer/orderDetails}"><i
											class='bx bxs-message-rounded-edit'></i> Đơn hàng của bạn</a></li>
									<li><a href="#"><i class='bx bx-help-circle'></i> Help</a></li>
									<li><a th:href="@{/security/logoff}"><i class='bx bx-log-out-circle'></i>
											Logout</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item"><a th:href="@{/home/mycart}" class="nav-link icon"><i
								class="bx bx-shopping-bag"></i></a></li>
					</ul>
				</div>

				<a href="cart.html" class="cart-icon"> <i
					class="bx bx-shopping-bag"></i>
				</a>

				<div class="hamburger">
					F <i class="bx bx-menu"></i>
				</div>
			</div>
		</nav>

		<!-- Hero -->
		<img src="/img/artist-mtp.png"
			style="height: 92%; padding-right: 100px" alt="" class="hero-img" />
		-

		<div class="hero-content">
			<h2>
				<span class="discount">70% </span> SALE OFF
			</h2>
			<h1>
				<span>Summer Vibes</span> <span>mode on</span>
			</h1>
			<a class="btn" href="#">shop now</a>
		</div>
	</header>

</body>
</html>